html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden ;
    background-color: aqua;
}


.fota
{
    width: 100px;
    height: 100px;
    background-image: url(IMG_9605.JPG);
    background-size: cover;
}

.email
{

    color: wheat;
    text-align: center;
}
